<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Create tables in Markdown  
- Identify popular Data Science tools  
- Understand development environments used in Data Science  
- Gain hands-on practice with Jupyter notebooks

Some of the popular languages that Data Scientists use are:<br>
1.Python<br>
2.R<br>
3.Java<br>

Some of the commonly used libraries used by Data Scientists include:<br>
1.Pandas<br>
2.Numpy<br>
2.Scikit-learn

# Exercise 6  

| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Swarnabha Halder